<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.abclinic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--    <uses-feature android:name="android.hardware.Camera2" android:required="true"/>-->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.InquiryActivity" />
        <activity
            android:name=".activity.ReplyActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.InquiryActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.UpLoadActivity" />
        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.HistoryActivity" />
        <activity android:name=".activity.ProfileActivity" />
        <activity
            android:name=".activity.UploadHealthResultActivity"
            android:launchMode="singleTask" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.abclinic.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.abclinic.utils.services.MyFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.abclinic.utils.services.intent.job.SaveDataJob"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.abclinic.utils.services.intent.job.SaveScheduleJob"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.abclinic.utils.services.intent.job.GetNotificationJob"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.abclinic.utils.services.intent.job.GetScheduleJob"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.abclinic.utils.services.intent.job.GetInquiryJob"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>